#controls {
    padding-bottom: 2vw;
    padding-top: 2vw;
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    margin: 0 auto;
}
#controls button {
    width: 20%;
}

.illustration {
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: 1.5vw 1.5vw 1.2vw grey;
    display: block;
    width: 35vw;
    height: auto;
    transition: opacity 1s;
}

.transparent {
    opacity: 0%;;
}
